@tailwind base;

@tailwind components;

@tailwind utilities;


nav {
    border: 1px solid black;
}

.main-container {
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.selection-container {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.item-component {
    display: flex;
    /* border: 1px solid red; */
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}